/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#DDDCDE - almost white
#D3D2D3 - light grey
#515151 - grey
#46444E - space grey
#231F20 - almost black
#D93337 - red
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #DDDCDE;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}
a {
  color: #D93337;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #DDDCDE;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}



/* Profile
------------------------------------*/
header {
  background: #46444E;
  color: #DDDCDE;
}


/* Projects
------------------------------------*/
.projects {
  background: #231F20;
}
.projects a {
  color: #D93337;
}
.projects .btn {
  color: #DDDCDE;
  background: #D93337;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(140, 141, 158, 0.8);
}
.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0;
}



/* Work Experience
------------------------------------*/
.work-experience {
  background: #D3D2D3;
  color: #515151;
}

.work-experience .btn {
  color: #DDDCDE;
  background: #D93337;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  display: inline-block;
}
.work-experience .btn:hover {
  background: rgba(140, 141, 158, 0.8);
}

/* Education
------------------------------------*/
.education {
  color: #DDDCDE;
  background-image: url(../images/Post-it.jpeg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 40%;
}


/* Contact Info
------------------------------------*/
footer {
  background: #46444E;
  color: #DDDCDE;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
}



